{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"globals": {
		"document": "readonly",
		"location": "readonly",
		"window": "readonly",
		"navigator": "readonly",
		"wp": "readonly",
		"_": "readonly",
		"NodeList": "readonly",
		"Element": "readonly"
	},
	"rules": {
		"comma-dangle": "off"
	}
}
